{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Спасибо за использование нашего продукта!{% endblocktrans %}
{% endblock %}

{% block html_body %}
<p>Здравствуйте, {{ user.get_username }}</p>
<p>{% trans "Благодарим за регистрацию в сервисе "  %}{{ site_name }}</p>

<p>{% trans "Для активации учетной записи перейдите по ссылке::" %}</p>

<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "С уважением," %}</p>

<p>Команда {{ site_name }}</p>

{% endblock html_body %}